DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=exampel
DB_PASSWORD=sample_pass
DB_USERNAME=alliano-dev

# API CONFIG
API_BASE="api"
API_VERSION="v3"


# Application config
APPLICATION_PORT=4444
APPLICATION_HOST=127.0.0.1

# API URL
REKAM_MEDIS_URL=